@model Pureen.Web.Models.ShowContactMessageModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Contact Message</h3>
</div>



    <div  class="modal-body row-fluid">
        
        
            <div>
                <h4>@Model.Heading</h4>
                <h5>Message From: @Html.ActionLink(@Model.UserName,"ProfileByUser","Account", new {userName = Model.UserName},null)</h5>
                <br/>
                @Html.DisplayFor(x=>x.Message)
                
            </div>
            <div>
                <h5>Respond?</h5>
            </div>
        
        
    </div>

<div class="modal-footer">
    
    <button class="btn" data-dismiss="modal" aria-hidden="true">Back</button>
</div>

