
@model Pureen.Web.Models.JellieTestingModel

<style>
    .testingstuff {
        border: solid red 5px;
    }
</style>
<h2>Hello</h2>

<div class="testingstuff">
    @{
        Html.RenderAction("ShowToolbar", "Account");
    }
</div>

