@using BootstrapSupport
@model Pureen.Web.Models.AccountLoginModel

<div class="row span12">

    <div class="span4" style="margin-right: 0; padding-left:30%;" >

        @using (@Html.BeginForm("LogIn", "Account", FormMethod.Post, new { @class = "form-signin login-box" }))
        {

            <h2 class="form-signin-heading">Sign In</h2>
    
            @Html.TextBoxFor(x => x.Username, new { @class = "input-block-level" })
            @Html.PasswordFor(x => x.Password, new { @class = "input-block-level" })
    
           
            <label class="checkbox">
               Remember Me <input type="checkbox" value="remember-me"> 
            </label>

            <button class="btn btn-primary" type="submit">Login</button>

            <div style="left:50px">
                @Html.ActionLink("Forgot your password?", "RecoverAccount", "Account")
            </div>

        }
    </div> 

</div>