@using BootstrapSupport
@model Pureen.Web.Models.AccountPermissionsModel

 @using (Html.BeginForm("ProfilePermissions","Account",FormMethod.Post))
{
<div>
   @Html.ValidationSummary(true)
    <fieldset class="form-horizontal">
        <legend>What to show on your profile</legend>
        @foreach (var property in Model.VisibleProperties())
        {
            using(Html.ControlGroupFor(property.Name)){
                @Html.Label(property.Name.ToSeparatedWords(), new { @class = "control-label" })
                 <div class="controls">
                     @Html.Editor(property.Name, new { @class = "input-xlarge" })
                     @Html.ValidationMessage(property.Name, null, new { @class = "help-inline" })
                 </div>
            }
        }
    </fieldset>
</div>   
}
<script src="http://code.jquery.com/jquery-1.10.1.min.js"> </script>
<script type="text/javascript">
    $("#btn-register").onclick(function() {
        this.submit();
    });
</script>