<connectionStrings>
  <add name="Local" connectionString="Data Source=(localdb)\Projects;Initial Catalog=Pureen;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
  <add name="Remote" connectionString="Server=cff46f69-1fda-410b-9c4c-a2d60187e8fa.sqlserver.sequelizer.com;Database=dbcff46f691fda410b9c4ca2d60187e8fa;User ID=zpvtqoblucusutqc;Password=urYTaeTqL7uQYenNS65yDSEThoufWuyBgefpmEvYZJiPnuJQZi8ZWoJKTfLTRNBr;"/>
</connectionStrings>