@{
    ViewBag.Title = "Comments";
}
@model Pureen.Web.Models.ListNewsModel


<div class="span12" >
    <div class="news-heading-box span3" style="margin-right: 30%;">
        <div class="news-heading-text">
            @Model.Heading
        </div>
    </div>
    <div class="news-box span12">
        <div class="news-text">
            @Model.Information
        </div>
    </div>
</div>

<div class="span6">
    <h3>Comments</h3>
    <div>
        @{
            Html.RenderAction("LoadComments", "Public", new { id = Model.Id });
         } 
    </div>
    <div>
        @{
            Html.RenderAction("MakeaComment","Public", new { id = Model.Id });
        }
    </div>
</div>